* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
/* <--header--> */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    border-bottom: 2px solid rgb(235, 235, 235);
}
header > .logo{
    cursor: pointer;
    width: auto;
    height: 50px;
}

.nav-list{
    display: flex;
}
.nav-list a{
    background-color: white;
    color: black;
    padding: 8px 16px;
    border: 2px solid gray;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.nav-list a:first-child{
    border-radius: 4px 0 0 4px;
    border-right: none;
}
.nav-list a:last-child{
    border-radius: 0 4px 4px 0;
    border-left: none;
}
.nav-list a:hover{
    color: white;
    background-color: black;
} 

/* <--home--> */
.home{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px 7% 60px;
}
/* quote */
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 5%;
    gap: 60px;
}
.quote .main_quote{
    font-size: 35px;
    font-weight: 500;
    color: rgba(38,50,61,255);
    text-align: center;
}
.quote .sub_quote{
    font-size: 20px;
    color: rgb(120,144,170);
    text-align: center;

}

/* review user and form contact us*/
.review_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 20px; 
}
/* review user */
.review_user{
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: all 0.3s ease 0s;
    gap: 10px;
    max-width: 510px;
}
/* autoslide container */
.autoslide-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.autoslide-container > div > img{
    border-radius: 7px;
}
.review_user .indicators{
    text-align: center;
}
.indicator {
    width: 80px;
    height: 5px;
    background-color: #bbb;
    border-radius: 70px;
    display: inline-block;
    align-items: center;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.review_user .autoslide-container .comment{
    width: 90%;
    padding: 10px 50px;
    font-size: 18px;
    color: lightslategrey;
}
.review_user .autoslide-container .user_profile{
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
}
.user_profile .user_desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    justify-content: center;
    color: rgba(38,50,61,255);
    font-size: 17px;
}
.user_profile .user_desc > div + *{
    color:lightslategrey;
    font-size: 14px;
}
.user_profile .user_img{
    width: auto;
    height: 50px;
    border-radius: 30px;
}

/* form contact us */
.form_layout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    max-width: 355px;
    max-height: auto;
    padding: 40px 40px;
    border-radius: 7px;
    background-color: rgba(236,240,244,255);
}
.title_layout{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title_layout .title{
    font-size: 17px;
    font-weight: 500;
    color : rgba(38,50,61,255);
} 
.title_layout .form_info{
    font-size: 14px;
    font-weight: 200;
    color : lightslategrey
} 
.form_contact_us{
    display: flex;
    flex-direction: column;
    gap: 40px;
} 
.form_contact_us .list-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 
.form_contact_us .list-item > label{
    font-size: 12px;
    font-weight: 200;
    color : rgba(38,50,61,255)
} 
.form_contact_us .list-item > label + *{
    padding: 12px 0px 12px 0px;
    border-radius: 4px;
    border: 3px solid rgb(198,212,220);
    padding-left: 15px;
}
.form_contact_us button {
    background-color: rgba(38,50,61,255);
    color: white;
    text-transform: uppercase;
    padding: 10px; 
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease 0s;
}
.form_contact_us button:hover{
    color: rgba(38,50,61,255);
    background-color: whitesmoke;
}

/* information */
.information{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 412px;
}
.information .info-desc{
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    color : rgba(38,50,61,255);
}
.information .feature-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feature-list .list-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.feature-list .list-item .image-feature{
    width: auto;
    height: 40px;
}
.feature-list .list-item .feature_word{
    color: lightslategrey;
    font-size: 13px;
    padding: 0px 30px;
    width: 330px;
}

/* <--Our Package--> */
.our_package{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 70px 0;
}
.our_package .our_package_title{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 1000;
    color: rgba(38,50,61,255);
    background-color: rgba(236,240,244,255);
    width: 100%;
    padding: 70px 0px 120px 0px;
}
.our_package .travel_place{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 5%;
}

.our_package .travel_place > li{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    padding: 20px 50px ;
}
.our_package .travel_place .title-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.our_package .travel_place .image-item{
    width: auto;
    height: 40px;
}
.our_package .travel_place > li > .title-item + *{
    padding: 10px 0 0 50px;
    color: lightslategrey;
    font-size: 13px;
    width: 200px;
}
.our_package .travel_place .item-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* <--call us--> */
.call_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(235, 235, 235);
    padding: 60px;
    gap: 30px;
}
.call_us .call_us_title{
    font-size: 30px;
    font-weight: 500;
    color: rgba(38,50,61,255);
    text-align: center;
}
.call_us .description_call_us{
    color: lightslategrey;
    font-size: 13px;
    text-align: center;
    width: 420px;
}
.call_us #call_to_action{
    background-color: rgba(38,50,61,255);
    color: white;
    text-transform: uppercase;
    padding: 15px 50px; 
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease 0s;
}
.call_us #call_to_action:hover{
    color: rgba(38,50,61,255);
    background-color: rgba(236,240,244,255);
}

/* <--footer--> */
.footer_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid rgb(235, 235, 235);
    gap:10px;
    padding: 40px 0 40px 0;
}
.footer_content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_content > div > *{
    color: lightslategrey;
    font-size: 13px;
    padding: 0 5px;
}
.footer_content > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_content > div .C-image{
    width: auto;
    height: 10px;
    align-content: center;
}

@media only screen and (min-width: 1439px){
    header > .logo{
        width: auto;
        height: 80px;
    }
    .nav-list a{
        font-size: 20px;
    }

    .quote .main_quote{
        font-size: 45px;
    }
    .quote .sub_quote{
        font-size: 30px;
    
    }

    .review_user{
        max-width: 795px;
    }
    .review_user .autoslide-container .comment{
        width: 90%;
        padding: 30px 50px;
        font-size: 28px;
        color: lightslategrey;
    }
    .user_profile .user_desc{
        font-size: 24px;
    }
    .user_profile .user_desc > div + *{
        font-size: 20px;
    }
    .user_profile .user_img{
        width: auto;
        height: 70px;
        border-radius: 30px;
    }

    .form_layout{
        max-width: 420px;
        justify-content: center;
    }
    .title_layout .title{
        font-size: 25px;
    } 
    .title_layout .form_info{
        font-size: 19px;
        font-weight: 200;
        color : lightslategrey
    }
    .form_contact_us{
        gap: 60px;
    } 
    .form_contact_us .list-item > label{
        font-size: 18px;
    } 
    .form_contact_us .list-item > label + *{
        padding: 20px 0px 20px 15px;
        font-size: 21px;
    }
    
    .form_contact_us button {
        background-color: rgba(38,50,61,255);
        color: white;
        text-transform: uppercase;
        padding: 20px; 
        font-size: 20px;
        margin-top: 10px;
        border-radius: 3px;
        border: none;
        transition: all 0.3s ease 0s;
    }
    

    .information{
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: 700px;
    }
     .information .info-desc{
        width: 100%;
        height: auto;
        font-size: 24px;
        font-weight: 500;
        color : rgba(38,50,61,255);
    }
    .information .feature-list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .feature-list .list-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .feature-list .list-item .image-feature{
        width: auto;
        height: 40px;
    }
    .feature-list .list-item .feature_word{
        color: lightslategrey;
        font-size: 20px;
        padding: 0px 30px;
        width: 68%;
    }

    .our_package .our_package_title{
        font-size: 45px;
    }
    .our_package .travel_place .title-item{
        gap: 10px;
    }
    .our_package .travel_place > li > .title-item + *{
        padding: 10px 0 0 55px;
        font-size: 20px;
        width: 300px;

    }
    .our_package .travel_place > li > .title-item{
        font-size: 27px;
    }
    .our_package .travel_place .image-item{
        width: auto;
        height: 45px;
    }

    .call_us .call_us_title{
        font-size: 45px;
    }
    .call_us .description_call_us{
        font-size: 21px;
        width: 780px;
    }
    .call_us #call_to_action{
        padding: 23px 80px; 
        font-size: large;
    }
    
    .footer_content > div > *{
        font-size: 20px;
        padding: 0 5px;
    }
    .footer_content > div .C-image{
        width: auto;
        height: 17px;
        align-content: center;
    }


}

@media only screen and (max-width: 1025px){
    .review_user{
        max-width: 510px;
    }
    .form_layout{
        max-width: 355px;
    }
    

}

@media screen and (max-width: 500px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .logo{
        width: auto;
        height: 100px;
    }
    header .nav-list{
        display: flex;
        flex-direction: column;
        width: calc(900/2);

    }
    .nav-list a{
        padding: 25px 150px;
    }
    .nav-list a:first-child{
        border-radius: 4px 4px 0 0;
        border-right: 2px solid gray;
        border-bottom: none;
    }
    .nav-list a:last-child{
        border-radius: 0 0 4px 4px;
        border-left: 2px solid gray;
        border-top: none;
    }  
    
    .home{
        padding: 0 0 50px;
        flex-direction: column;
        align-items: center;
    }
    .review_form{
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px 0; ;
        width: 100%;
        gap: 50px;
    }
    .review_user .autoslide-container .comment{
        width: 90%;
        padding: 10px 50px;
        font-size: 14px;
        color: lightslategrey;
    }
    .user_profile .user_desc{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 15px;
        justify-content: center;
        color: rgba(38,50,61,255);
        font-size: 12px;
    }
    .user_profile .user_desc > div + *{
        color:lightslategrey;
        font-size: 10px;
    }
    .user_profile .user_img{
        width: auto;
        height: 40px;
    }
    .form_layout{
        max-width: 95%;
    }
    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .call_us .description_call_us{
        color: lightslategrey;
        font-size: 13px;
        text-align: center;
        width: calc(500px/2);
    } 
}
